[2020-10-12 10:14] koffienl opened #1 "DHCP Not working?"
I'm scratching my head for a couple of hours but can't get it seem to work.
Brand new HassOS install on RPi4. Installed the addon and configured as follow:

[code]

Clients can connect to the AP but without a IP address.
The log file doesn't provide a clou at all:

[code]

[2020-10-12 12:56] mattlongman commented on #1
@koffienl thanks for the report. I'll do a fresh install later and see if I can re-create this. I'm assuming you've already checked this, but just in case: some OSs will let you use 'DHCP with manual address' so just make sure this is disabled.

If you want to test further, you could download to your local addons folder, set debug in the config to 0 (to quiet all other logging), and in run.sh, lin

[2020-10-12 13:05] koffienl commented on #1
thanks for the quick response.
The client is set to DHCP, tested with different devices (Windows 10, several android phones).
and for what it's worth : the same pi with the same dnsmasq en hostappd config worked without a problem. I'll try your logging tip later.

[2020-10-12 21:43] mattlongman commented on #1
I can recreate this on a Pi 4, 64bit Home Assistant OS.

I've tried a few different things but can't get it to reliably start.

When I enabled debug mode on dnsmasq, it said the interface wasn't available, so I suspect something is blocking dnsmasq from using wlan0 (or whichever interface is selected).

Might be worth adding `sleep 10` (10 second pause) after dnsmasq starts but before hostapd as a

[2020-10-13 07:27] koffienl commented on #1
Jup, looks like the wlan0 is somehow not available. Strange because a ```ifconfig``` show the wlan0

[code]
I'll try to dig in further.

[2020-10-14 07:56] koffienl commented on #1
Yes, working after the update. Thanks!

[2020-10-14 08:35] #1 closed

[2020-10-15 08:37] mineroloco55 opened #2 "hostapd.conf request"
Would it be possible to include some of the hostapd options :?
hw_mode = g
wpa = 2
wpa_key_mgmt = WPA-PSK
wpa_pairwise = TKIP
rsn_pairwise = CCMP
ieee80211n = 1
ht_capab = LDPC (these last two are interesting to leave it in "n")

in this way we reduce the width of the channel and gain some stability in the wifi

[2020-10-15 14:50] mattlongman commented on #2
Maybe a dict in the addon config to override hostapd options... I'll look into it.

[2020-10-15 15:52] mattlongman commented on #2
The base config is [here](https://github.com/mattlongman/Hassio-Access-Point/blob/master/hassio-access-point/hostapd.conf), and then run.sh appends other items based on the config. In short, this is what is already in the config:

[code]

I'm not that familiar with hostapd, so I'm happy to defer to anyone who can improve performance. If there's something in the default config that you think should

[2020-10-15 16:15] mattlongman commented on #2
@mineroloco55 - please update the addon and see if that works for you. Add something like this to your config:
"hostapd_config_override": ["wpa_pairwise=TKIP", "ht_capab=LDPC"]

[2020-10-15 17:09] mineroloco55 commented on #2
great your override run.
how quickly you responded!

[2020-10-15 17:09] #2 closed

[2020-10-15 18:01] mineroloco55 commented on #2
ht_capab = LDPC
LDPC not run with the actual driver

[2020-10-20 20:24] wschaeffer commented on #1
First: thanks for this add-on! Nice feature for IoT solutions :)
However, DHCP is still not working for me. Running HassIO on Raspberry Pi 3B. Log:

`[s6-init] making user provided files available at /var/run/s6/etc...exited 0.
[s6-init] ensuring user provided files have correct perms...exited 0.
[fix-attrs.d] applying ownership & permissions fixes...
[fix-attrs.d] done.
[cont-init.d] executing co

[2020-10-20 21:56] mattlongman commented on #1
This stands out:

`dnsmasq: failed to create listening socket for port 53: Address in use`

Are you using any other add-ons that would provide DNS?

Try copying the add-on to your local add-ons directory, and add `port=0` to dnsmasq.conf and see if that works.

If that still doesn't work, raise a new issue with your initial info plus config & other add-ons that you have running and I'll  take a lo

[2020-10-20 22:21] mattlongman opened #3 "dnsmasq: failed to create listening socket for port 53: Address in use"
First: thanks for this add-on! Nice feature for IoT solutions :)
However, DHCP is still not working for me. Running HassIO on Raspberry Pi 3B. Log:

[code]

I've hidden my mac-address and SSID ;)

It's rather strange that the client keeps reconnecting.

_Originally posted by @wschaeffer in https://github.com/mattlongman/Hassio-Access-Point/issues/1#issuecomment-713117923_

[2020-10-20 22:25] mattlongman commented on #3
This stands out:

dnsmasq: failed to create listening socket for port 53: Address in use

Are you using any other add-ons that would provide DNS?

Try copying the add-on to your local add-ons directory, and add port=0 to dnsmasq.conf and see if that works.

If not, please show your config (without SSID & password) & which other add-ons that you have running and I'll take a look tomorrow. I'll also

[2020-10-21 14:05] mattlongman commented on #3
Replicated issue by installing another addon which uses port 53 (AdGuard). Added `port=0` to dnsmasq.conf but will look at expanding DNS options in future.

[2020-10-21 14:05] #3 closed

[2020-10-21 14:07] mattlongman commented on #3
@wschaeffer - This is fixed now. Please update the addon (to v0.3.1).

[2021-01-16 11:08] husillos opened #4 "[Feature request] Show clients IP address"
I have installed this add-on (with DHPC enabled) on my HomeAssistant and works perfectly.
Thanks!

Is there any option to see the connected clients IPs ?
In the log I can see the mac address, but I can't find the assigned IP.

[2021-02-03 17:28] luispedro18 opened #5 "[Feature Request] Route traffic from wlan0 to eth0"
It would be cool if the traffic coming in from wlan could go out through eth0 so the devices connected could have internet

[2021-03-20 15:28] thiagogalvao commented on #4
Hey, I also installed this fork and it works smoothly in a RPi 4.
I miss the same thing, a dhcp client list.

Good job!
Thanx!

[2021-07-09 14:48] alameda3piso03 commented on #5
I have the same problem too. Is it possible to route the Wi-Fi network traffic to the ethernet network gateway? In other words, the devices connected to the access point have access to the internet through the ethernet.
Thanks in advance

[2021-07-10 21:09] mattlongman commented on #5
Hi @luispedro18  - apologies for not looking at this sooner (thanks to @alameda3piso03 for bumping it).

I think I've got this working, but could do with help in properly testing it to make sure it's stable.

I've just pushed a version to the dev branch (https://github.com/mattlongman/Hassio-Access-Point/tree/dev/hassio-access-point). Please download and test it out.

New config options:

Please u

[2021-07-10 21:16] mattlongman commented on #4
Hi @husillos, @thiagogalvao. I'll need to research this a bit more.

Can you both confirm, are you just asking to see the assigned IP in the log? (i.e. it shows the IP as the client connects?)

[2021-07-11 13:56] hellresistor opened #7 "Cannot Add repository into HA"
Hello!

I am getting same issue has original repository from DavidRamos.

My system:
core-2021.7.1
supervisor-2021.06.8
Raspbian GNU/Linux 10 (buster)
HA Supervisor (Using dedicated script)

Error returned wind webwindow:
`The command '/bin/bash -o pipefail -c apk update && apk add --no-cache bash jq iw hostapd networkmanager net-tools sudo dnsmasq && rm -rf /var/cache/apk/*' returned a non-zero c

[2021-07-11 20:27] hellresistor commented on #7
Found this to on supervisor log

[code]

[2021-07-12 07:19] mattlongman commented on #7
Can you confirm whether you get the same error after rebooting? Seems like it could be a DNS issue when trying to access the alpine CDN. If it's a DNS issue at the CDN's end, it should resolve itself after a period of time.

[2021-07-12 07:20] mattlongman commented on #7
Similar issues reported on [this thread](https://github.com/gliderlabs/docker-alpine/issues/334) on the Docker-Alpine repo

[2021-07-12 18:54] hellresistor commented on #7
Confirm after reboot, keeps.

it supose do that on all Addons or just on yours? why?

[2021-07-13 12:56] luispedro18 commented on #5
Hi @mattlongman !! First of all, thank you for making the time to address this.. Unfortunately I've changed my setup and I no longer need this... Best to be @alameda3piso03 testing this one...

Again, thank you for doing this 🙌

[2021-07-13 13:41] mattlongman commented on #5
It's a feature that you might assume it could do by default, so thanks for the raising the issue in the first place.

Do you mind explaining what your use-case was? I'm curious to find out how this gets used as it's obviously a fairly niche add-on!

[2021-07-13 15:41] luispedro18 commented on #5
My use case was: I wanted to route the traffic from a Roku player through a VPN but since it can't be configured on the device I was trying to get it set up in the Pi (where i have HA installed) and then create a new network to have the Roku connected there.. that way the traffic from Roku would be routed through the VPN 😁

[2021-07-15 01:14] pubutil commented on #5
Thank you for working on adding internet access to your add-on!

I tried the dev branch of hassio-access-point and the local network function definitely works as intended. However, with client_internet_access='1' I can't get the AP to provide internet access. DHCP is disabled, but devices are assigned IPs on the 169.254.x.x subnet, instead of grabbing an IP from my router (which is upstream of my

[2021-07-15 07:57] mattlongman commented on #5
Hi @pubutil - thanks for testing!

The host network doesn't see each individual device connecting to the Pi, it just sees all requests as coming from the Pi, so responds accordingly, then the Pi sends responses out to the appropriate client.

For your example:

You would manually need to set the IP on the client device as DHCP is off, and the client can't request an IP from the parent network/DHCP

[2021-07-15 22:00] eduperez opened #8 "Dumb AP?"
Would it be possible to add an option to just bridge WLAN0 to LAN0, without any DHCP or routing, so the device becomes a "dumb access point", please?

[2021-07-16 08:08] mattlongman commented on #5
Related issue: [bridged ap](https://github.com/mattlongman/Hassio-Access-Point/issues/8)

[2021-07-19 09:57] mattlongman commented on #7
Hi @hellresistor. I've tested this on different units, with different versions, and I can't recreate this error. Have you had any luck since?

Does is work if you try using HAOS instead of Raspbian (if you have a spare SD card to test with)? I'm not sure of the ramifications of using HA supervisor on a different OS. Or even, trying with the latest Raspberry Pi OS instead of Buster?

[2021-07-20 05:56] hellresistor commented on #7
This is the software versions.
I am Using Raspbian buster + Homeassistant Superviser script!

![Screenshot_1](https://user-images.githubusercontent.com/50468493/126268902-ba680300-a9f8-4bc0-aeeb-7b6b3d760155.png)

I will try today do a new installation

[2021-07-20 15:25] rlust commented on #7
Trying to install on a HASSIO latest, when I enter the URL provided to add add-on, it hangs.

This looks great, just what I need!
Thanks!

[2021-07-20 17:44] hellresistor commented on #7
Can Confirm. On HASSIOS Is OK!

But I need this on and raspbian because need configure i2c and set some commands in bash :|

Should be Docker version?

[2021-07-20 17:44] #7 closed

[2021-07-20 18:42] mattlongman commented on #7
@hellresistor - thanks for testing this. I'll have a look and see if I can recreate then try to work out what is causing this.

@rlust - are you having this issue on HAOS or raspbian with hassio supervisor on top?

[2021-07-20 18:48] mattlongman commented on #7
I'm not very familiar with home assistant supervised on alternative operating systems, but if you need access to more than HAOS gives you, have you considered using [the supported Debian](https://community.home-assistant.io/t/installing-home-assistant-supervised-on-a-raspberry-pi-with-debian-10/247116) route?

[2021-07-20 21:24] mattlongman commented on #7
Ok, a few false starts, but flashed Debian 10 and followed the [setup guide](https://community.home-assistant.io/t/installing-home-assistant-supervised-on-a-raspberry-pi-with-debian-10/247116). Once I'm into Home Assistant, I can add the repo `https://github.com/mattlongman/Hassio-Access-Point` without issue, then I can install it too.

[code]

Configured the add-on and tested it - working as expe

[2021-07-21 16:43] hellresistor commented on #7
Well . It is Working!
Raspbian Will Not. BUT ON Debian Yes!

[2021-07-23 20:59] shageman commented on #5
My use-case is this. This is for a mobile use case (think RV, van, or boat) I intend to have two pis connected via ethernet:

* pi 1 runs home assistant OS (and has a zigbee dongle, etc) - I want to make this a wifi access point too so I can connect wifi enabled devices to this network directly
* pi 2 runs a raspbian OS and by default shows a touch panel view of the home assistant dashboard. This

[2021-07-23 21:02] shageman commented on #5
BTW, this config works for me

[code]

[2021-07-24 18:28] joaofl opened #9 "Improvements/collaboration"
Hi.

Similarly to you I have started a fork of the hotspot addon as well (https://github.com/joaofl/hassio-addons), that extends the and improves the functionalities of the first hostapd I know about. Like dhcp, blocking/allowing internet, hide ssid, and some others. I've been using and maintaining it for some time now. But since the last hassio supervisor was deployed, I've been having trouble us

[2021-07-25 12:55] mattlongman commented on #9
Hi @joaofl!

I hadn't noticed the issue with the external dongles. I'll see if I can dig a few out and see what happens.

For your testing, are you using HAOS or Debian 10 with HA Supervised?

I'll run a test of the built-in adapter too and see how long before I start seeing issues (I've just pushed the version from dev with internet access, so I'll connect my phone - should get a good idea of whe

[2021-07-25 13:03] mattlongman commented on #9
Also, when I was updating the [forum thread](https://community.home-assistant.io/t/add-on-create-a-wi-fi-access-point-with-hass-io-access-point/321732) for this, I noticed another similar add-on from @ldrago63 ([repo](https://github.com/ldrago63/my-hassio-addons/), [Home Assistant thread](https://community.home-assistant.io/t/hassio-wifi-hotspot-connect-directly-your-wifi-devices-to-hassio/293188)

[2021-07-25 15:08] mattlongman commented on #9
I've dug out a couple of dongles. One is dead, the other is really old and can't find a driver for.

Got a more modern one on the way to test.

[2021-07-25 15:27] ldrago63 commented on #9
Hi,

I have test my addon on raspberry 3, 4 and I think @P4uLT tested it on NAS with dongle with success.

As mentionned by @mattlongman, @keanew will test with dongle and post status on https://github.com/ldrago63/my-hassio-addons/issues/2.

[2021-07-25 19:29] joaofl commented on #9
I'm running HAOS on a RPI4. Specifically:
[code]

Since I upgraded to 6, I keep getting this issues while trying to initialize the wlan interface:

[code]
And the syslog looks like
[code]
This issues is usually associated with the absence of the device driver, but on my addon, I get it installed at the addon install time, by installing the package : `linux-firmware-other`, that does populate the d

[2021-07-28 14:03] hellresistor commented on #7
friends, I am able install other addons on my 1st system (where i get pronlem with your addon). It is Just with your rep.

You should do some investigation. If you need OS versions... methods ..etc ... to reproduce. you just need the rpi4 (mine 4GB). I am able to help!

[2021-07-28 23:56] keanew commented on #9
Hi,

I have the same problem.
After a long search maybe there is a [fix](https://github.com/home-assistant/operating-system/pull/1479) on the Home Assistant OS 6.2 released today.

Wait & see ?

[2021-07-29 07:55] hellresistor opened #11 "Client not get Internet Access"
Client cannot get internet

HA Addon LOG:
[code]

HA Addon Config
ssid: Myspot
wpa_passphrase: beybeybey
channel: '6'
address: 192.168.99.1
netmask: 255.255.255.0
broadcast: 192.168.99.255
interface: wlan0
hide_ssid: '0'
dhcp: '1'
dhcp_start_addr: 192.168.99.10
dhcp_end_addr: 192.168.99.20
allow_mac_addresses: []
deny_mac_addresses: []
debug: 1
hostapd_config_override: []
client_internet_access: '

[2021-07-29 12:26] Nyc0 opened #12 "Question: UI not loading"
Hello, this add on sounds great but I am unable to start the UI. I tried for following URL:
http://homeassistant.local:8123 or http://192.168.99.1 or http://192.168.99.1:8123

My generated IP was 192.168.99.19. What am I missing?

Raspberry pi 3 b
Home Assistant OS 6.1
Home Assistant 2021.7.4

[code]

Here are my logs:
[code]

[2021-07-29 17:22] mattlongman commented on #12
Hi @Nyc0 - I'm not too sure. One thing I'd not considered with this is https. Do you use https for the home assistant installation?

http://192.168.99.1:8123 should be the correct address. Try changing the address to something else, either on the same .99. range, or change to something completely different (not forgetting the DHCP start/end addresses).

[2021-07-29 17:26] mattlongman commented on #7
Hi @hellresistor - please provide the OS versions, steps etc. I can't promise I'll be able to look at it soon, but I am intrigued.

That said it'll be more difficult to support this as HA Supervised is unsupported on Raspberry Pi OS.

It could still be the issue with the alpine docker repo. Have you confirmed other repos which use alpine docker work correctly on RasPi OS?

[2021-07-29 17:27] mattlongman commented on #11
Hey @hellresistor. Is this on Debian 10?

[2021-07-29 17:28] mattlongman commented on #8
Hi @eduperez - I'm looking into this.

[2021-07-29 19:36] hellresistor commented on #11
Debian 11 aarch64 rpi

[2021-07-29 21:45] keanew commented on #9
Hi,

With the Home Assistant OS 6.2 (beta version when I've tested), the dongle is recognized. And I can connect more than 8 devices! Great! 👍

I like the idea of merging yours differents forks.
I'm using the @joaofl's [addon](https://github.com/joaofl/hassio-addons) but I like the idea of using static ips (as the [idrago63's one](https://github.com/ldrago63/my-hassio-addons)).
But my dongle didn'

[2021-07-29 22:10] Nyc0 commented on #12
Hi @mattlongman, thank you for your quick response. I figured it out. I was using the Raspberry Pi on wifi already, and switching to its own wifi network wasn't working. I restarted the Hass.io configuration from scratch, but this time using ethernet. Your addon worked first time. Thank you!

Here is what I had initially followed to configure the Raspberry Pi and Hass.io on my home wifi https://ww

[2021-07-29 22:10] #12 closed

[2021-07-29 22:36] mattlongman commented on #12
That setup would theoretically be possible if you had a separate USB WiFi dongle, but the home assistant fix to allow the extra drivers for some common ones is currently in dev (or maybe beta). So in future, yes.

The alternative setup for a pi that is already using the onboard WiFi is to change wlan0 to whatever the ethernet is and directly connect a device to ethernet (although it's been a while

[2021-08-03 07:06] joaofl commented on #9
Indeed, upgrading to OS 6.2 solved the problem on the https://github.com/joaofl/hassio-addons . As @keanew mentioned, the kernel modules were added to kernel, and its back to life.

[2021-08-03 14:50] mariogobos opened #13 "Problem with hassio Access Point"
Hi,
i've already install your extension on my raspberry Pi4 with home assistant. After this i set module and connect to my Hassio Access Point my sonoff bridge zigbee hub (flashed with tasmota) and my laptop and disconnect eth0 cable from raspberry.
Finally when i try to connect to the homeassistant page (homeassistant:8123) is impossible to connect, my laptop is correctly  connected to hassio acc

[2021-08-03 14:51] mariogobos commented on #13
Please can you help me? Thanks for availability

[2021-08-06 06:30] mariogobos commented on #13
Hi @mattlongman thanks for your answer. If eth0 cable is connected to raspberry and my laptop is connect to WIFI (not Raspberry_WIFI) i can connect to  http://192.168.1.177:8123, but if i disconnect eth0 cable and i connect the laptop to Raspberry_WIFI i can't connect. I try to change broadcast but not make any difference.
Is important to me that 192.168.1.177:8123 work from Raspberry_WIFi because

[2021-08-06 11:06] mariogobos commented on #13
Hi @mattlongman, i try different way. After i generated Wifi from raspberry (Raspberry_WIFI) i connect my sonoff with tasmota (his ip 192.168.1.216). Now i think to connect raspberry to ethernet and do first configurations after i disconnect eth0 cable and use it stand alone, but when i add new zigbee automation in raspberry and set tasmota address (socket://192.168.1.216:8888 on Raspberry_WIFI) r

[2021-08-06 12:02] mattlongman commented on #13
Try removing this from your config:

[code]

Internet access routes traffic using eth0, so when you disconnect ethernet it's most likely why you can't access local addresses.

[2021-08-08 20:16] ArneNaessens opened #14 "AP not starting up."
Hello,

Im having some trouble with the addon not starting up
This is a install of home assistant supervised on Debian 10.

LOG:
[code]

Config file:
[code]
Can you help me? If you need any further information ill be happy to provide it for you.

[2021-08-09 11:28] ArneNaessens commented on #14
EDIT:
Console was gettings spammed with the following error:
`firmware: failed to load rt2860.bin (-2)`
After installing and rebooting firmware-ralink with following guide https://wiki.debian.org/rt2800pci#Installation the error went away still no luck getting it started.

LOG After edit:
[code]

[2021-08-09 12:56] ArneNaessens commented on #14
I noticed the error `Driver does not support configured HT capability [DSSS_CCK-40]` i checked my card and it only supports HT40 and HT20.

I added `"hostapd_config_override": ["ht_capab=[HT20]"]` to my config but it still gives the same error.
Am i adding overrides wrong?

[2021-08-10 06:11] hellresistor commented on #11
@mattlongman has same for Debian 10 aarch64

[2021-08-24 08:50] kalle1239 opened #15 "Installation HA"
Hi,

trying to install the addon on homeassistant don't work with the error
The command '/bin/bash -o pipefail -c apk update && apk add --no-cache bash jq iw hostapd networkmanager net-tools sudo dnsmasq && rm -rf /var/cache/apk/*' returned a non-zero code: 2

Pi 4 with raspbian buster, HA 2021.8.8
Thx for your help

regards pascal

[2021-09-01 08:38] ArneNaessens commented on #14
Any update?

[2021-09-01 15:24] mattlongman commented on #15
Hi @kalle1239,

I've tested fairly recently using home assistant supervised on debian 10. This is the currently supported supervised distribution. Error looks the same as [this issue](https://github.com/mattlongman/Hassio-Access-Point/issues/7).

[2021-09-01 15:28] mattlongman commented on #14
Hi @ArneNaessens - I've not been able to get this to work with external adapters for a while. There has been some discussion on similar addons (such as https://github.com/joaofl/hassio-addons and https://github.com/ldrago63/my-hassio-addons). See [this issue](https://github.com/mattlongman/Hassio-Access-Point/issues/9) for details.

Looking at external adapters is the next thing on my list when I

[2021-09-01 15:29] mattlongman commented on #11
Hi @hellresistor - I've not had any time to look at this. I can't say when I will get time, but it's on my list.

[2021-09-30 18:31] bsfaxi opened #16 "Support the use of secrets in the add-on configuration"
Hi,
I'm using the add-on and it works like a charm.
I tried to use secrets inside the configuration like for the other add-ons, especially for the "wpa_passphrase", and eventually for the "ssid", since I want it hidden.

The part of the configuration should look like below:
[code]

But, when I try to save the configuration, I have the following error:
[code]

The secrets are of course stored in th

[2021-09-30 20:04] bsfaxi commented on #16
Sorry for this wrong issue.
I had to restart the supervisor to take into account the new secrets.
Now, it works fine with secrets. ;)

[2021-09-30 20:04] #16 closed

[2021-10-05 16:46] aureliusss commented on #13
@mattlongman @mariogobos i've the same issue:
RPi 4 connected via eth0 to router, Laptop connected to the same network via Wifi, i can access the homeassistant.local:8123.
After I disconnect the eth cable, i connect my laptop to the accesspoint generated, but i cannot connect to homeassistant.local (even if I use the ip address)
`ssid: HAtest123
wpa_passphrase: HAtest123
channel: '8'
address: 192.

[2021-10-18 07:20] kotyara75 opened #17 "[Feature request] mDNS for wlan0"
Hi, thanks for making this plugin, for me it turned out to be the only way of enabling AP on HA OS.

I miss connecting to HA by .local name over AP connection though.
I can see that in HA core it's implemented for eth0 using Network Manager, and I'm struggling to enable it for unmanaged wlan0 interface controlled by the plugin.

Should we add avahi daemon to this plugin?
Or, anybody has better ide

[2021-11-20 21:30] lululombard opened #18 "rfkill: Cannot open RFKILL control device"
Hey there,

I just tried installing this module on the latest version of Home Assistant (OS 6.6, running Home Assistant 2021.11.4) on a Pi 4, and for some reason, the Wi-Fi network doesn't broadcast. I can't find it at all.

Here are the logs:
[code]

And here's my config:
[code]

I'm wondering if this problem is related to AppArmor.

Anyways I don't know if the `rfkill: Cannot open RFKILL control

[2021-11-22 09:41] mezen opened #19 "Reserved IP"
Hi,

is it possible to always assign a reserved ip adress to specific devices to prevent ip switching over time?

[2021-11-24 17:33] AndyOne77 commented on #4
Thanks for the your job.

How can I fix IP to client?

[2021-11-26 18:41] AndyOne77 commented on #19
support. A very useful function.

[2021-12-14 00:23] dragop4 opened #21 "Add-on config 'devices' use a deprecated format"
[code]

## System Health

version | core-2021.12.1
-- | --
installation_type | Home Assistant OS
dev | false
hassio | true
docker | true
user | root
virtualenv | false
python_version | 3.9.7
os_name | Linux
os_version | 5.10.63-v8
arch | aarch64
timezone | Europe/Warsaw

<details><summary>Home Assistant Cloud</summary>

logged_in | false
-- | --
can_reach_cert_server | ok
can_reach_cloud_auth | ok

[2021-12-15 07:01] hellresistor commented on #14
FYI
I am using Debian 11 aarch64 for RPI4 4/8GB with HA Supervised and this addon working very good with onboard Wifi. not try with external device

[2021-12-18 22:01] esotericnonsense commented on #19
#23

[2021-12-18 22:02] esotericnonsense commented on #19
I have put together a pull request for this functionality in #23.

[2021-12-18 22:02] esotericnonsense commented on #4
@AndyOne77 I have put together a pull request for this functionality in #23.

[2021-12-18 22:07] esotericnonsense opened #24 "Disabling client internet access does not work until a reboot"
Reproduce: connect a device, enable internet access for the client, disable it, internet access still functions until a host reboot.

Solution: change the code such that forwarding is disabled (at least for the specific interface) if disabled.

I may end up solving this myself and submitting a PR, just leaving it here for future reference. :)

[2021-12-19 10:26] hellresistor commented on #18
+1
And not get internet access.

my config
[code]

My log with 2 devices connected without internet.
[code]

[2022-01-06 18:51] pepjo commented on #18
I also have this problem, like the OP, I am using a RPi4 my AP does not start either, and I cannot find how to fix it. I am however running HAOS 7.1.

These are the logs from the UI:

[code]

[2022-01-31 11:49] iosoft opened #25 "HomeAssistant on RPi4 Wifi Question"
Hello,

I am using HomeAssistant on Raspberry Pi 4.

Can I use Pi4's 5GHz Network to connect my Home Network and 2.4GHz as Wifi Access Point for some IoT devices?

[2022-02-07 17:20] mezen commented on #24
Even after rebooting my hassio, the internet access is still granted:
[code]
At the moment I use `client_dns_override: [127.0.0.1]` as a workaround

[2022-02-26 19:19] petervflocke commented on #18
Exactly same error messages in my configuration on
Host Operating System | Home Assistant OS 7.0
Supervisor Version | supervisor-2022.01.1
Hardware: RPI4
Access point appears for a few seconds and disappears. And I cannot connect to it.
Any suggestion?

[2022-03-01 11:04] discrockers commented on #5
Hello,

I am a newbie with Home Assistant. I just discovered it and already lovin it! :slight_smile:
I installed the [Hass.io 2](http://hass.io/) Access Point on a Raspberry 4 and would like to use it in “bridge mode” like I did with RaspAp before. I can setup the WiFi and it is available, but when I try to connect my iPhone it couldn’t get an IP address. As soon as I activate the DHCP it works.

[2022-03-10 10:08] discrockers opened #26 "Parent DHCP, not getting an IP"
Hello,

I am a newbie with Home Assistant. I just discovered it and already lovin it! :slight_smile:
I installed the [Hass.io ](http://hass.io/) Access Point on a Raspberry 4 and would like to use it in “bridge mode” like I did with RaspAp before. I can setup the WiFi and it is available, but when I try to connect my iPhone it couldn’t get an IP address. As soon as I activate the DHCP it works.

W

[2022-03-28 10:09] Dejv311 commented on #19
HI!
This addon does not allow you to do this, but after a few hours of reverse-engineering the whole thing I found a way to work around it. Basically I am using code injection to add a line specifying mac->ip reservation. The IP needs to be in the "range" specified above. There can be multiple lines of "dhcp-host" added specifying multiple reservations. The hashtag at the last line is very importa

[2022-04-27 18:42] jaybz commented on #18
I've been having the same issue on RPI4 and HassOS 7. It looks like hw_mode=g doesn't work. Forcing hw_mode=a "fixes" but that means your clients need 5ghz. If you do have 2.4ghz clients that need to connect, upgrading to HassOS 8.0.rc3 (you'll need to join the beta channel) will let hw_mode=g work on RPI4.

[2022-04-27 19:22] petervflocke commented on #18
Many thanks for your workaround and detailed clarification!
As my homeassistant is a productive environment with a couple of important automations, I'll wait till HassOS 8.x move to the official, not-beta release and then use hw_mode=g.

Cheers!
Peter

[2022-04-27 21:22] jaybz commented on #11
I've ran into this on Home Assistant OS 7.6 and 8.0.rc3. On 8.0.rc3 the route for wlan0 is missing. Running the following command within the addon's container fixes it: (change the ip addresses with what you've actually configured)

`ip route add 192.168.99.0/24 dev wlan0 scope link src 192.168.99.1 metric 100`

@mattlongman I've gotten it to work on my fork. The relevant changeset is here: https:

[2022-04-28 00:10] jaybz commented on #11
@mattlongman I believe I got it properly working this time. I reset my fork so the changeset on my previous post is no longer valid. The changeset I have working right now is here: https://github.com/jaybz/Hassio-Access-Point/commit/076ebf971e607427b83b4b7bb23b01354ca0e09f. I'm not sure if the network line in /etc/network/interfaces matters. What does matter is the use of ifup and ifdown. Both bin

[2022-05-12 19:56] askmurphy commented on #26
I have the same problem. I can connect if i use a manually ip. Dhcp is not working..

[2022-05-12 21:32] askmurphy commented on #26
Ps: tested with rpi3 and HA64bits

[2022-05-13 06:20] askmurphy commented on #26
To enable Dhcp you must use this according the manual:

But doesn’t work too..

[2022-05-14 16:09] ledhed-jgh opened #27 "s6-overlay-suexec: fatal: can only run as pid 1"
After updating to Home Assistant 2022.5, starting this add-on fails and throws this error in the logs:
`s6-overlay-suexec: fatal: can only run as pid 1`

It looks like you may need to change some permissions and/or update the AppArmor profile.

S6-Overlay 3.x update on our docker base images:
https://developers.home-assistant.io/blog/2022/05/12/s6-overlay-base-images/

Thanks.

[2022-05-27 18:01] askmurphy commented on #27
I can confirm that, s6-overlay-suexec: fatal: can only run as pid 1 problem...  Add-on doesn't work..

[2022-05-28 13:18] sim-san opened #29 "rfkill: Cannot open RFKILL control device"
[code]

**Setup:**
HomeAssistant OS on a Proxmox. USB Wifi Adpater attatch per Port-Mapping to the VM of HomeAssitant

How can I debug my error ?

[2022-05-30 23:42] agners commented on #29
It seems that your network requires High Throughput (HT) mode. I am not 100% sure, but I think it is related to the 40MHz bandwith settings you often have in 802.11n routers. Can you check if your router has such a setting?

[2022-05-31 05:52] sim-san commented on #29
I changed the line with the `ht_capab` from `ht_capab=[HT40][SHORT-GI-20][DSSS_CCK-40]` to `ht_capab=[HT40][SHORT-GI-20]`.

This solved the problem with my wifi apdater

[2022-05-31 05:52] #29 closed

[2022-05-31 10:10] agners commented on #29
Yeah ok sorry, this is AP. So yeah, definitely make sense, lots of devices have limited AP support, so this one seems too. Glad you've been able to resolve it.

[2022-06-02 09:37] olaldiko commented on #27
I solved it on #28. It hasn't been merged yet. You can point to my repo in the meantime.

[2022-06-02 11:18] liroman2312 commented on #27
How can I do thise please explain

[2022-06-02 14:18] olaldiko commented on #27
On home assistant, instead of pointing to @mattlongman 's repo to install the addon, point to mine: https://github.com/olaldiko/Hassio-Access-Point.git
You have instructions to do so here: https://www.home-assistant.io/common-tasks/os#installing-third-party-add-ons

[2022-06-02 23:15] mattlongman commented on #27
@olaldiko - Thank you for the PR. Merged.

I'm not particularly familiar with hostapd (other than what I got working for this project when I was using it myself). I'm looking for someone(s) that understands it a bit better, who might be interested in assisting on some issues/PRs.

I'll try to update all of the issues with a similar note, but if you're interested, please let me know.

[2022-06-05 19:21] liroman2312 commented on #27
Hi I manged to install i am using supervised on debian with ac600 wifi adapter when I tried to lunch i get on the log no kenral driver founed and it's shut down what can I do ?

[2022-06-06 07:52] liroman2312 commented on #27
With the hist it works great I can connect to wifi and all but with you're addon it gives error what can I do

[2022-06-07 07:27] olaldiko commented on #27
It has to do more with an incompatibility issue with hostapd than with the addon itself. Send us the logs of the addon so we can have a look.
I would also try to create a wifi hotspot on the host itself since it is a full-fledged system. That way we can discard that the issue is on the addon.

[2022-06-07 08:09] liroman2312 commented on #27
Well I tried now the hostapd package on my debian and its running good I will try thise to if it work and maybe you will find qn option to run thise package form homeassistant itself and also I will try to give you the log soon

[2022-06-07 08:36] askmurphy commented on #27
Great!

[2022-06-07 10:03] teranus commented on #5
Is it still necesary to use the dev branch for internet routing from wlan0 to eth0 or is it now enough tested and in the main branch?
I need exactly that function and am just about to implement this addon.
As here was no further discussion since over a year, maybe it is implemented already?

[2022-06-07 11:24] mattlongman commented on #5
Not necessary to use dev branch. It was merged [here](https://github.com/mattlongman/Hassio-Access-Point/commit/c1c4a8b36fcb856521ec4bbfc1d18d610acdb673)

I'm planning to go through and clear some of these issues soon, but if you have an interest in this addon and could help with maintaining it, please let me know (I don't use it myself at the moment, and don't have the capability to test it curre

[2022-06-07 11:24] #5 closed

[2022-06-14 10:13] G2G2G2G commented on #8
Yea this would be amazing
@mattlongman should be able to disable dhcpd, create a bridge device and add it to both interfaces? eth0 and wlan0 I am guessing for 99% of people
https://www.raspberrypi.com/documentation/computers/configuration.html#bridging

technically be possible with 2 wifi dongles as well if you want the pi to be an extender I guess (would save that for later)

[2022-06-14 10:19] G2G2G2G commented on #25
no, you could use both to connect theoretically.. but there is a hardware limitation in access point mode.

[2022-06-16 07:57] Dejv311 opened #30 "Internet access not working"
After your latest update the internet access option stopped working and it is a huge problem for me. Please resolve ASAP, thank you!

[2022-06-16 08:05] mattlongman commented on #30
@Dejv311 - thanks for the report. To clarify, issues since v0.4.2 (from a couple of days ago)?

[2022-06-16 08:55] Dejv311 commented on #30
Yes

[2022-06-16 10:07] mattlongman commented on #30
I didn't bump the version number after [28](https://github.com/mattlongman/Hassio-Access-Point/pull/28), only after [23](https://github.com/mattlongman/Hassio-Access-Point/pull/23), so issue could be caused by either of these.

@esotericnonsense - don't suppose you could test this before I back out the change, could you?

[2022-06-16 12:27] Dejv311 commented on #30
Hi I had to leave for work, so I have no further way to test it, but while my TV (android 11 I think) and phone (android 12) had no internet, my Xiaomi vacuum seems to be connected to the cloud at the moment. I tried restarting the plugin in the morning multiple times, but it did not resolve the issue.

The log is here:
[code]

[2022-06-16 13:07] mattlongman commented on #30
Could you try setting this option, e.g.:

`"client_dns_override": ['1.1.1.1', '8.8.8.8']`

[2022-06-17 00:03] G2G2G2G commented on #30
I've never got internet working, nor ability to connect to HA through it.. but the AP seems to work. There are several other threads open about this but I cant' tell what is solved and what isn't since they are so old

How do you see network info in HA OS? (I'm on a raspberry pi 4, I've used linux for 20 years but never HA.. seems OS is locked down and everything is accessed through HA?)

![1](htt

[2022-06-17 09:38] mattlongman commented on #30
dhcp-option=6,[DNS server 1],[DNS server 2] is used to specify DNS servers. The 6 is just what dnsmasq uses to specify this.

It's worth reiterating that this addon will try to get DNS servers from the host (HA) OS, if it can't, you'll see `Couldn't get DNS servers from host. Consider setting with 'client_dns_override' config option.` in the log (as @Dejv311 saw), in which case you'll need to spec

[2022-06-17 19:25] mattlongman commented on #30
@Dejv311 can you confirm whether this worked?

I've just tested this on:
Home Assistant Core 2022.6.6
Home Assistant Supervisor 2022.05.3
Home Assistant OS 8.2

and it's working as expected. If you're still having issues, please provide your config (redacted if required).

[2022-06-17 19:33] mattlongman commented on #25
Hi @iosoft - thanks for the question. As @G2G2G2G said, the answer if technically no (in regards to the two different bands).

However, I'm going to look into this [PR](https://github.com/mattlongman/Hassio-Access-Point/pull/20) which would enable STA+AP mode. This would allow connection of the Pi4 to your home network, and allow other devices to connect to the AP. Worth reading the PR for more in

[2022-06-17 20:54] #27 closed

[2022-06-18 13:45] adosikas opened #31 "run.sh: line 62: nmcli: command not found"
I am getting the following behavior after updating system packages (running on a Pi3B+, supervised install):

On container restart, AP works fine for a couple minutes, then devices are unable to keep connections with `AP-STA-POSSIBLE-PSK-MISMATCH` in log.

Manually running `sudo nmcli dev set wlan0 managed no` and restarting the container seems to work as workaround.

Log from startup:

[code]

[2022-06-19 19:29] Dejv311 commented on #30
Hi, I am sorry for the late reply (i was not home). I tried the custom DNS, but it did not solve the issue (though the warning is now gone). I noticed few interesting things in windows network info:

DNS:
[code]

Date of receiving DHCP:
`čtvrtek ‎1. ‎ledna ‎1970 2:00:00`

Date of returning DHCP:
`čtvrtek ‎1. ‎ledna ‎1970 2:00:00`

The DHCP IP adress seemed to be correct (within the defined range o

[2022-06-21 21:06] mattlongman commented on #31
Just saw [this](https://github.com/hassio-addons/addon-ssh/pull/415) and found that nmcli now needs installing separately. When I tested, connected to the running container and found that nmcli wasn't installed at all.

Pushed 0.4.3 which has an updated Dockerfile to install `networkmanager-cli`. Please try this and see if it fixes the issue.

[2022-06-21 21:28] mattlongman commented on #30
Just pushed a minor update to fix [Issue 31](https://github.com/mattlongman/Hassio-Access-Point/issues/31). Turns out any `nmcli` command would've been failing since Alpine was updated to 3.16 (this addon doesn't specify versions - maybe it should, but doesn't currently), so any rebuilds since May 23rd would've used this version.

See [Alpine 3.16.0](https://alpinelinux.org/posts/Alpine-3.16.0-rel

[2022-06-21 22:41] mattlongman commented on #24
Doing some testing on [PR 20](https://github.com/mattlongman/Hassio-Access-Point/pull/20) which will also include this.

[2022-06-21 22:48] mattlongman commented on #21
Thank you for the report, but most likely should be directed at https://github.com/davidramosweb/hassio-addons/tree/master/hassio-hostapd

[2022-06-21 22:48] #21 closed

[2022-06-22 05:10] Dejv311 commented on #19
Hi, thank you. It looks like the update solved the issue! The dhcp_end_addr shenanigans are a left over from past versions, where dnsmasq_config_override did not exist. I will leave it like that since it looks cool :D. Anyways thanks again for your time!

[2022-06-22 08:51] mattlongman commented on #19
Thanks @Dejv311. To confirm, you're talking about the issue on https://github.com/mattlongman/Hassio-Access-Point/issues/30?

[2022-06-22 13:39] Dejv311 commented on #19
Sorry, wrong thread, yes it works now :)

[2022-06-22 17:09] adosikas commented on #31
That fixed it, thanks

[2022-06-22 17:09] #31 closed

[2022-06-23 05:48] hellresistor opened #33 "How add dev5 on ha"
heya. I want try, but not find how import the dev-5 version into HA   ;|  What is the correct link? thank you

[2022-06-23 14:48] mattlongman commented on #33
I've created a release for 0.5a dev branch. https://github.com/mattlongman/Hassio-Access-Point/releases/tag/dev-v0.5a

Virtual interface isn't working (or at least, I haven't confirmed the config to make it work), but isolation is working.

[2022-06-23 14:48] #33 closed

[2022-06-24 09:12] #30 closed

[2022-06-24 09:57] mattlongman commented on #19
Adding `dhcp-host=12:34:56:78:90:AB,192.168.99.123` to `dnsmasq_config_override` is now the best way to do this.

[2022-06-24 09:57] #19 closed

[2022-06-29 06:13] hellresistor commented on #33
friend sorry my english I mean when i use that link to add into HA Addon repository will fail "Invalid Add-on repository!"
![errorha](https://user-images.githubusercontent.com/50468493/176364538-a0b06950-3593-4141-86bb-e84aac1e637e.jpg)

[2022-06-29 08:21] mattlongman commented on #33
for .zip releases like this, download and extract it, and copy the hassio-access-point folder via SMB to the addons directory. It will then show up as a local addon.

I agree that it would be nice if different branches could be added like you've shown above! Unfortunately, copying over manually is the best way for now.

[2022-08-06 14:09] stegno commented on #8
I also looking for way to do a bridged dumb AP, since its done, AP could be a part of wifi coverage withing home (if same SSID and security) with normal roaming between other APs. Now it has to change IPs and data transmitting stops for a much more time..

[2022-08-06 14:14] stegno commented on #5
I am also looking for way to do a bridged dumb AP, since its done, AP could be a part of wifi coverage within home (if same SSID and security) with normal roaming between other APs. Now clients have and reinit wifi connection to change IPs and gateways, so data transmitting stops for a much more time..

[2022-08-07 08:31] RogerSero opened #34 "Max. devices"
What is the maximum number of connected devices that the integration supports?

[2022-08-12 07:59] HLFCode commented on #8
A wifi/ethernet bridge would solve my problems too. Can you share progress? Happy to collaborate.
I can get a pi to bridge but still on steep learning curve with Docker...
Thanks @mattlongman for a great addon

[2022-08-12 13:43] G2G2G2G commented on #8
@HLFCode agreed, the docker nightmare that HA imposes made me just rewrite my own home automation with uglier UI

[2022-08-28 21:47] GHJebus opened #35 "Access point fails to start with USB wifi adapter"
This plugin emits several errors and fails to put the USB wifi adapter into AP mode when started.  It appears to be similar to other hostapd related errors (see: https://askubuntu.com/questions/472794/hostapd-error-nl80211-could-not-configure-driver-mode)

1. Connect a nl80211 driver based USB device to a RPi3 running Home Assistant OS (in my case a TP-Link TL-WN823N adapter)
2. Configure Hassio A

[2022-09-18 07:41] kseredynskyi opened #36 "Can't install addon on current HA version"
Can't install addon with the following error on addon page (for both, CloudFlare and Access Point)
`Error fetching addon info: Addon 567c2022_hassio-hostapd with version latest does not exist in the store`

[2022-09-18 08:16] kseredynskyi commented on #36
My apologies, it was my bad (HA cache, and a few addons testing).

[2022-09-18 08:16] #36 closed

[2022-10-05 21:22] robyertof commented on #34
It seems there’s a maximum number of devices connected, in my case 10. Based on what I’ve found online it’s a firmware limitation (raspberry pi3+)

[2022-10-27 07:32] aladin2000 opened #37 "NO IP without dhcp=1 and no internet"
Hi
i used config using wlp3s0 instead of wlan0 in json file
I have last HAssio release  and I just tried to install the addon ....
  Home Assistant 2022.10.5
  Supervisor 2022.10.0
  Interface utilisateur : 20221010.0 - latest

here is my yaml file

`ssid: MYSSID
wpa_passphrase: *****
channel: "1"
address: 192.168.0.1
netmask: 255.255.255.0
broadcast: 192.168.0.255
interface: wlp3s0
hide_ssid: "0"

[2022-10-28 09:15] aladin2000 commented on #26
same for me

[2022-10-28 14:02] aladin2000 commented on #11
I entered a similar issue   recently
I wander if the routing solution is implemented .. seems to me NO ?
What's up with such a problem

[2022-10-28 19:08] aladin2000 commented on #26
same for me

[2022-10-28 19:38] mattlongman commented on #37
Hi @aladin2000

'NO IP without dhcp=1' - if you don't have DHCP enabled, you'll need to manually set an IP

'client_dns_override: 168.168.1.1' - Double check this. Did you try 192.168.1.1 instead?

[2022-10-28 19:40] mattlongman commented on #35
Hi @GHJebus - I haven't tested for external Wi-Fi interfaces as when I last tested, I wasn't able to get the drivers to work. If anyone with knowledge of this is able to contribute, I'd be more than happy to test.

[2022-10-28 19:41] mattlongman commented on #34
@robyertof - thanks for the info. Yes, I imagine it's not a particularly high number, especially with the onboard interface.

[2022-10-28 19:44] mattlongman commented on #26
DHCP on the addon creates its own DHCP server. Without this, you would need to manually set an IP that works with the parent network's address range. Because the addon is downstream from your main network, enabling a DHCP on the Pi/device is fine, but just make sure the address you set for the addon address/dhcp range is different to the main network address/range.

[2022-10-29 07:27] askmurphy commented on #26
Correct, but it doesn’t work..   Try it yourself..

[2022-10-29 09:23] aladin2000 commented on #26
Thks
Ok for DHCP range to bé compatible for network segment
But it is not possible to get internet Access even with thé option
Is there spécial route to cteate on local and on parent routeur to bé able to get that internet Access
I use SFR box v8 as Cisco routeur

Regards
Aladin

28 oct. 2022 21:44:19 mattlongman ***@***.***>:

[2022-10-29 11:11] mattlongman commented on #26
@askmurphy @aladin2000 Good point (sorry, I haven't used this for ages so was trying to remember how I set it up).

`client_internet_access: '1'` & `dhcp: '0'` - then set the client IP address to the child network (on the same range as the RPI, i.e. 192.168.99.10), not the parent network. Just tested on the latest version of HAOS (64bit on rpi4), Home Assistant & the addon - working fine.

If you'

[2022-10-29 12:36] aladin2000 commented on #37
I removed the dns override , the 168.168 was a Typo error
I added a route back from parent router   : 192.168.99.0 / 255.255.255.0 to 192.168.1.7 ( ip of HASS server )
Then the dhcp ip is good from the addon, but I still have a problem to reach Internet from the client:
Here are the new config file

ssid: SSID1
wpa_passphrase: secret
channel: 1
address: 192.168.99.1
netmask: 255.255.255.0
broadcas

[2022-11-03 21:17] #37 closed

[2022-11-03 21:20] aladin2000 commented on #37
it is fixed now.
I just put the orerride option for dns that is the ip of tHe homeassistant server ip. INSTEAD of parent routeur from the FAI

Internet is OK but still strange things regarding some url not found . probably the dns synchronisation.

[2022-11-19 08:35] LadCZ opened #38 "python3.10/site-packages/aiohttp/web_protocol.py:405"
Hi community,
I can't get this add-on working. I tried many config combinations, including AP at the same network with DHCP disabled, internet disabled or the one listed bellow. WiFi is either not created at all, or disappears after brief moment. In my current configuration I am using CloudFlared. Raspberry Pi4 has updated firmware and SSD boot. When I start the add-on HA Log gets this error:
![HA

[2022-11-21 00:06] aladin2000 opened #39 "SECURITY WPA in crypted mode ?"
will it be possible to accept the idea of using wpa passphrase result instead of the original key in readable form ?

**wpapassphrase ssid key_in_clear ==>  GIVING  PSK="crypted key result"**

_for info I tried to put psk in hostapd options part, but it  gave me an error for  original original wap key   missing_

[2022-11-23 18:24] CarlosGS commented on #17
Not sure of the details, but in my case mDNS works correctly, can access ESPHome nodes & homeassistant.local correctly.
Maybe it was added at some point? :)

[2022-11-25 04:47] dingausmwald commented on #5
Sorry to bump this, and thanks for this awesome addon.
Little question: All are talking about linking wlan0 to eth0. Is it possible to share the internet connection from a usb wifi dongle to wlan0?

In addition, dont know if related, i get this in logs now and cant set my network config anymore (connection still works)

/network/info return code 500

and

Failed to to call /network/info -

[2022-11-29 20:03] Trakt0r22 commented on #17
@CarlosGS How did you manage to get your ESPHome devices to connect to your hassio instance? I've been trying to flash an ESP8266 I had lying around to connect to the HASSIO instance I have, but It cannot seem to register in the ESPHome gui nor in Homeassistant. Wierdly enough I can see it connect in the logs for this access point add on, which tells me it should work. Any pointers you can give me

[2022-11-30 22:48] CarlosGS commented on #17
Hi! In the end I've set a fixed IP for each device. It simply needs an IP outside the DHCP range.
[code]
Then you need to manually connect them to Home Assistant (Devices->Add->Esphome->type node's IP).
In your case, try doing that and typing "wrist-device.local" instead of an IP. Maybe it will resolve the address and allow you to use it without needing a fixed IP.

Also, for ESPHome nodes, I've n